.modal-detail {
    display: none;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 10000;
    padding: 10px;
}

.close-detail {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

.detail-section {
    background-color: white;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}