:root {
    --primary-purple: #4b0082;
    --light-purple: #f3e5f5;
    --accent-purple: #7e57c2;
    --text-dark: #333;
    --bg-light: #f8f9fa;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: var(--primary-purple);
}

.content {
    width: 85%;
    height: 100vh;
    background-color: var(--bg-light);
}