:root {
    --primary-purple: #4b0082;
    --light-purple: #f3e5f5;
    --accent-purple: #7e57c2;
    --text-dark: #333;
    --bg-light: #f8f9fa;
    --lime-green: #4caf50;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.app-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: flex-start;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 18%;
    max-width: 18%;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--primary-purple);
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 1.2rem;
}

/* Sidebar Components */
.side-analyse-btn {
    width: 100%;
    height: 30px;
    color: white;
    background-color: var(--lime-green);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.side-analyse-btn:hover,
.side-analyse-btn:active {
    opacity: 0.95;
}

.side-btn-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.side-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0;
    border: none;

    background-color: var(--accent-purple);
    color: white;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.side-upload:hover,
.side-upload:active {
    opacity: 0.8;
}

.side-upload-form {
    flex: 1;
}

.side-upload-form label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.side-upload-btn {
    flex: 1;
}

.spectra-check-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

.check-btn:hover,
.check-btn:active {
    opacity: 1;
}

.spectra-list {
    display: flex;
    flex-direction: column;
}

.spectra-list-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
}

.spectra-item-info {
    flex: 1;
}

.spectra-item-info label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    cursor: pointer;
}

.spectra-checkbox {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.spectra-del-btn {
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: lightgray;
}

.spectra-del-btn:hover,
.spectra-del-btn:active {
    color: red;
}

.spectra-list-item:hover,
.spectra-list-item:active {
    background-color: var(--accent-purple);
}

/* Main Content */
.content {
    flex-grow: 1;
    min-height: 100vh;
    background-color: var(--bg-light);
}

.cont-section {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

/* Main Components */
.comp-table {
    width: 100%;
    border-collapse: collapse;
}

.comp-header {
    background-color: var(--primary-purple);
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.comp-second-header {
    background-color: var(--light-purple);
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.pearson-cell {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: hsl(calc((clamp(-1, var(--coeff), 1) + 1) / 2 * 120), 32%, 70%);
    padding: 10px;
    transition: transform 0.3s ease;
}

.pearson-cell:hover,
.pearson-cell:active {
    transform: scale(1.08);
    background-color: hsl(calc((clamp(-1, var(--coeff), 1) + 1) / 2 * 120), 100%, 70%);
    cursor: default;
}

.cosine-cell {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: hsl(calc((clamp(-1, var(--similarity), 1) + 1) / 2 * 120), 32%, 70%);
    padding: 10px;
    transition: transform 0.3s ease;
}

.cosine-cell:hover,
.cosine-cell:active {
    transform: scale(1.08);
    background-color: hsl(calc((clamp(-1, var(--similarity), 1) + 1) / 2 * 120), 100%, 70%);
    cursor: default;
}

.euclidean-cell {
    --max-dist: 20;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: hsl(calc((1 - clamp(0, var(--distance), var(--max-dist)) / var(--max-dist)) * 120),
            32%, 70%);
    padding: 10px;
    transition: transform 0.3s ease;
}

.euclidean-cell:hover,
.euclidean-cell:active {
    transform: scale(1.08);
    background-color: hsl(calc((1 - clamp(0, var(--distance), var(--max-dist)) / var(--max-dist)) * 120),
            100%, 70%);
    cursor: default;
}

.switch-btns {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-bottom: 5px;
}

.switch-btns button {
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: var(--primary-purple);
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.switch-btns button:hover,
.switch-btns button:active {
    opacity: 0.8;
}

.spectra-graph {
    width: 100%;
    height: 500px;
}