{% macro two_sample_table(comparison) %}
<table class="comp-table">
    <thead>
        <tr>
            <th class="comp-header"> Vzorka A </th>
            <th class="comp-header"> Vzorka B </th>
            <th class="comp-header"> Pearsonova korelácia </th>
            <th class="comp-header"> Kosínová podobnosť </th>
            <th class="comp-header"> Euklidovská vzdialenosť </th>
            <th class="comp-header"> SAM </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="comp-second-header">{{ comparison.samples[0] }}</td>
            <td class="comp-second-header">{{ comparison.samples[1] }}</td>
            <td class="cell pearson-cell" style="--coeff: {{ comparison.metrics.pearson[0][1] }}">
                {{ comparison.metrics.pearson[0][1] }}
            </td>
            <td class="cell cosine-cell" style="--similarity: {{ comparison.metrics.cosine[0][1] }}">
                {{ comparison.metrics.cosine[0][1] }}
            </td>
            <td class="cell euclidean-cell" style="--distance: {{ comparison.metrics.euclidean[0][1] }}">
                {{ comparison.metrics.euclidean[0][1] }}
            </td>
            <td class="cell sam-cell">
                {{ comparison.metrics.sam[0][1] }}
            </td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro multi_sample_table(comparison, metric_key, cell_class, hidden=false) %}
<div id="table-{{ metric_key }}" class="table-container {% if hidden %} hidden {% endif %}">
    {% if comparison and comparison.metrics[metric_key] | length > 0 %}
    <table class="comp-table">
        <thead>
            <tr>
                <th class="comp-header"></th>
                {% for name in comparison.samples %}
                <th class="comp-header">{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in comparison.metrics[metric_key] %}
            <tr>
                <th class="comp-header">{{ comparison.samples[loop.index0] }}</th>
                {% for value in row %}
                <td class="cell {{ cell_class }}" style="--value: {{ value }}">
                    <a href="{{ url_for('main.detail_analysis', spectra_a=row_name, spectra_b=col_name) }}">
                        {{ value }}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endmacro %}