<div class="switch-btns">
    <button onclick="switchGraph('raw')"> Pôvodné </button>
    <button onclick="switchGraph('min-max')"> Min Max </button>
    <button onclick="switchGraph('zscore')"> Z Score </button>
    <button onclick="switchGraph('l1')"> L1 </button>
</div>

<div id="section-raw" class="graph-container">
    <div class="spectra-graph" id="graph-raw"></div>
</div>

<div id="section-min-max" class="graph-container hidden">
    <div class="spectra-graph" id="graph-min-max"></div>
</div>

<div id="section-zscore" class="graph-container hidden">
    <div class="spectra-graph" id="graph-zscore"></div>
</div>

<div id="section-l1" class="graph-container hidden">
    <div class="spectra-graph" id="graph-l1"></div>
</div>