{% from 'macros/tables.html' import multi_sample_table, two_sample_table %}


{% if comparison and comparison.samples | length == 2 %}

{{ two_sample_table(comparison) }}

{% else %}

<div class="switch-btns">
    <button onclick="switchTable('pearson')"> Pearsonova korelácia </button>
    <button onclick="switchTable('cosine')"> Kosínová podobnosť </button>
    <button onclick="switchTable('euclidean')"> Euklidovská vzdialenosť </button>
    <button onclick="switchTable('sam')"> SAM </button>
</div>

{{ multi_sample_table(comparison, 'pearson', 'pearson-cell') }}
{{ multi_sample_table(comparison, 'cosine', 'cosine-cell', hidden=true) }}
{{ multi_sample_table(comparison, 'euclidean', 'euclidean-cell', hidden=true) }}
{{ multi_sample_table(comparison, 'sam', 'sam-cell', hidden=true) }}

{% endif %}