{% extends 'layout.html' %}

{% block content %}

{% if samples and samples|length >= 2 %}
<div class="cont-section">
    {% include 'partials/_graphs.html' %}
</div>
<div class="cont-section">
    {% include 'partials/_matrix_tables.html' %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    const rawData = JSON.parse('{{ raw | tojson | safe }}');
    const zScoreData = JSON.parse('{{ z_score | tojson | safe }}');
</script>

<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/graphSwitch.js') }}"></script>
<script src="{{ url_for('static', filename='js/tableSwitch.js') }}"></script>
{% endblock %}