{% extends 'layout.html' %}
{% from 'macros/multi_sample_table.html' import multi_sample_table %}

{% block content %}

{% if samples and samples | length >= 2 %}
<div class="cont-section">
    <div class="switch-btns">
        <button onclick="switchGraph('raw')"> Pôvodné </button>
        <button onclick="switchGraph('zscore')"> Z Score </button>
        <button onclick="switchGraph('l1')"> L1 </button>
        <button onclick="switchGraph('min-max')"> Min Max </button>
    </div>

    <div id="plot-raw" class="graph-container">
        <div class="spectra-graph" id="graph-raw"></div>
    </div>

    <div id="plot-zscore" class="graph-container hidden">
        <div class="spectra-graph" id="graph-zscore"></div>
    </div>

    <div id="plot-l1" class="graph-container hidden">
        <div class="spectra-graph" id="graph-l1"></div>
    </div>

    <div id="plot-min-max" class="graph-container hidden">
        <div class="spectra-graph" id="graph-min-max"></div>
    </div>
</div>

<div class="cont-section">
    <div class="switch-btns">
        <button onclick="switchTable('pearson')"> Pearsonova korelácia </button>
        <button onclick="switchTable('sam')"> SAM </button>
    </div>
    {{ multi_sample_table(samples, pearson, 'pearson', 'pearson-cell') }}
    {{ multi_sample_table(samples, sam, 'sam', 'sam-cell', hidden=true) }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    const rawData = JSON.parse('{{ raw | tojson | safe }}');
    const zScoreData = JSON.parse('{{ z_score | tojson | safe }}');
    const l1Data = JSON.parse('{{ l1 | tojson | safe }}')
    const minMaxData = JSON.parse('{{ min_max | tojson | safe }}')
</script>

<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/graphSwitch.js') }}"></script>
<script src="{{ url_for('static', filename='js/tableSwitch.js') }}"></script>
{% endblock %}