<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Porovnávanie spektier </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="app-container">

        {% include 'partials/_sidebar.html' %}

        {% if comparison %}
        <main class="content">
            <div class="cont-section">
                {% include 'partials/_graphs.html' %}
            </div>
            <div class="cont-section">
                {% include 'partials/_tables.html' %}
            </div>
        </main>
        {% else %}
        <main class="content main-placeholder">
            <p> [Nahrajte vzorky a spustite analýzu pre zobrazenie výsledkov.] </p>
        </main>
        {% endif %}

    </div>

    <div id="modal-detail" class="modal-detail">
        <span class="close-detail">&times;</span>
        {% include 'partials/_detailModal.html' %}
    </div>

    {% block scripts %}
    <script>
        const rawSpectraData = JSON.parse('{{ raw_selected | tojson | safe }}');
        const zScoreData = JSON.parse('{{ z_score_selected | tojson | safe }}');
        const minMaxData = JSON.parse('{{ min_max_selected | tojson | safe }}');
        const l1Data = JSON.parse('{{ l1_selected | tojson | safe }}');
    </script>

    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphSwitch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tableSwitch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/checkboxSetter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detailModal.js') }}"></script>
    {% endblock %}
</body>

</html>