{% extends 'layout.html' %}

{% block content %}

<div class="main-section">
    <h2> Porovnanie spektier ({{ samples[0] }} & {{ samples[1] }}) podľa zón </h2>
    <table class="metrics-table detail-table">
        <thead>
            <tr>
                <th class="cell table-header"></th>
                {% for zone in zone_metrics %}
                <th class="cell table-header">{{ zone.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="cell table-header" title="ΔAUC = Rozdiel plochy pod krivkou">
                    Δ AUC
                </th>
                {% for zone in zone_metrics %}
                <td class="cell detail-cell auc-cell" style="--value: {{zone.area_dif}}">
                    {{ zone.area_dif | round(2) }}%
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<div class="main-section">
    <h2> Rozdiel spektier ({{ samples[0] }} & {{ samples[1] }}) </h2>
    <div id="plot-residual">
        <div class="spectra-graph" id="graph-residual"></div>
    </div>
</div>

<div class="main-section">
    <h2> Porovnanie priebehov spektier ({{ samples[0] }} & {{ samples[1] }}) </h2>
    <div class="switch-btns">
        <button class="btn" onclick="switchGraph('raw')"> Pôvodné </button>
        <button class="btn" onclick="switchGraph('l1')"> L1 </button>
        <button class="btn" onclick="switchGraph('zscore')"> Z Score </button>
        <button class="btn" onclick="switchGraph('minmax')"> Min Max </button>
    </div>

    <div id="plot-raw" class="graph-container">
        <div class="spectra-graph" id="graph-raw"></div>
    </div>

    <div id="plot-zscore" class="graph-container hidden">
        <div class="spectra-graph" id="graph-zscore"></div>
    </div>

    <div id="plot-l1" class="graph-container hidden">
        <div class="spectra-graph" id="graph-l1"></div>
    </div>

    <div id="plot-minmax" class="graph-container hidden">
        <div class="spectra-graph" id="graph-min-max"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    const rawData = JSON.parse('{{ raw | tojson | safe }}');
    const zScoreData = JSON.parse('{{ z_score | tojson | safe }}');
    const l1Data = JSON.parse('{{ l1 | tojson | safe }}');
    const minMaxData = JSON.parse('{{ min_max | tojson | safe }}');

    const residual = JSON.parse('{{ residual | tojson | safe }}');
</script>

<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/switch.js') }}"></script>
{% endblock %}