<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Porovnávanie spektier</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="app-container">

        <aside class="sidebar">
            <form id="compare-form" action="{{ url_for('main.compare_samples') }}" method="POST">
                <button type="submit" class="side-analyse-btn"> Spustiť Analýzu </button>
            </form>

            <div class="side-section">
                <h2> VÝBER DÁT </h2>
                <div class="side-btn-group">
                    <form class="side-upload side-upload-form" action="{{ url_for('main.upload_csv') }}" method="POST"
                        enctype="multipart/form-data">
                        <label for="file-input"> Nahrať CSV Súbory </label>
                        <input type="file" id="file-input" name="files" multiple hidden accept=".csv"
                            onchange="this.form.submit()">
                    </form>

                    <button class="side-upload side-upload-btn"> Použiť Databázu </button>
                </div>
            </div>

            <div class="side-section">
                <div class="spectra-check-controls">
                    <h2> VZORKY </h2>
                    <div>
                        <button type="button" class="check-btn" onclick="setAllCheckboxes(true)"> Všetky </button>
                        <button type="button" class="check-btn" onclick="setAllCheckboxes(false)"> Žiadne </button>
                    </div>
                </div>
                <div class="spectra-list">
                    {% for file_name in spectra_data.keys() %}
                    <div class="spectra-list-item">
                        <div class="spectra-item-info">
                            <input type="checkbox" name="selected" value="{{ file_name }}" form="compare-form"
                                class="spectra-checkbox">
                            <span>
                                {{ file_name }}
                            </span>
                        </div>

                        <form action="{{ url_for('main.delete_spectra', filename=file_name) }}" method="POST">
                            <button type=" submit" class="spectra-del-btn" title="Delete {{ file_name }}">
                                X
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </aside>

        <main class="content">
            <div class="cont-section">
                {% if comparison_matrix | length > 0 %}
                <table class="heatmap-table">
                    <thead>
                        <tr>
                            <th class="heatmap-header"></th>
                            {% for name in comparison_matrix.samples %}
                            <th class="heatmap-header">{{ name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in comparison_matrix.matrix %}
                        <tr>
                            <th class="heatmap-header">{{ comparison_matrix.samples[loop.index0] }}</th>
                            {% for coeff in row %}
                            <td class="heatmap-cell" style="--coeff: {{ coeff }}">
                                {{ coeff }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>

            <div class="cont-section">
                <div class="graph-switch">
                    <button onclick="switchGraph('raw')"> Pôvodné </button>
                    <button onclick="switchGraph('min-max')"> Min Max </button>
                    <button onclick="switchGraph('zscore')"> Z Score </button>
                </div>

                <div id="section-raw" class="graph-container">
                    <div class="spectra-graph" id="graph-raw"></div>
                </div>

                <div id="section-min-max" class="graph-container hidden">
                    <div class="spectra-graph" id="graph-min-max"></div>
                </div>

                <div id="section-zscore" class="graph-container hidden">
                    <div class="spectra-graph" id="graph-zscore"></div>
                </div>
            </div>
        </main>

    </div>

    <script>
        const rawSpectraData = JSON.parse('{{ raw_selected | tojson | safe }}');
        const zScoreData = JSON.parse('{{ z_score_selected | tojson | safe }}');
        const normSpectraData = JSON.parse('{{ min_max_selected | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphSwitch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/checkboxSetter.js') }}"></script>

</body>

</html>