<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Porovnávanie spektier</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="app-container">
        
        <aside class="sidebar">
            <h2> VÝBER DÁT </h2>
            
            <h2> VZORKY </h2>

        </aside>
        
        <main class="content">

        </main>

    </div>
</body>
</html>