<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Porovnávanie spektier</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="app-container">

        <aside class="sidebar">
            <form action="{{ url_for('main.compare_samples') }}" method="POST">
                <button type="submit" class="side-analyse-btn"> Spustiť Analýzu </button>
            </form>

            <div class="side-section">
                <h2> VÝBER DÁT </h2>
                <div class="side-btn-group">
                    <form class="side-upload side-upload-form" action="{{ url_for('main.upload_csv') }}" method="POST"
                        enctype="multipart/form-data">
                        <label for="file-input"> Nahrať CSV Súbory </label>
                        <input type="file" id="file-input" name="files" multiple hidden onchange="this.form.submit()">
                    </form>

                    <button class="side-upload side-upload-btn"> Použiť Databázu </button>
                </div>
            </div>

            <div class="side-section">
                <h2> VZORKY </h2>
                <div class="spectra-list">
                    {% for file_name in spectra_data.keys() %}
                    <div class="spectra-list-item">
                        <span>
                            {{ file_name }}
                        </span>

                        <form action="{{ url_for('main.delete_spectra', filename=file_name) }}" method="POST">
                            <button type=" submit" class="spectra-del-btn" title="Delete {{ file_name }}">
                                X
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </aside>

        <main class="content">
            <div class="cont-section">
                <table class="spectra-table">
                    <thead>
                        <tr>
                            <th> Vzorka A </th>
                            <th> Vzorka B </th>
                            <th> Koeficient </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if result | length > 0 %}
                        <tr>
                            <td> {{ result[0].sample_a }} </td>
                            <td> {{ result[0].sample_b }} </td>
                            <td> {{ result[0].coefficient }} </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="cont-section">
                <div class="graph-switch">
                    <button onclick="switchGraph('raw')"> Pôvodné </button>
                    <button onclick="switchGraph('min-max')"> Min Max </button>
                    <button onclick="switchGraph('zscore')"> Z Score </button>
                </div>

                <div id="section-raw" class="graph-container">
                    <div class="spectra-graph" id="graph-raw"></div>
                </div>

                <div id="section-min-max" class="graph-container hidden">
                    <div class="spectra-graph" id="graph-min-max"></div>
                </div>

                <div id="section-zscore" class="graph-container hidden">
                    <div class="spectra-graph" id="graph-zscore"></div>
                </div>
            </div>

            <div class="cont-section">
                <h3>Debug: Full Spectra Data</h3>
                <pre style="background: #f4f4f4; border: 1px solid #ccc; padding: 10px;">
                {{ spectra_data | tojson(indent=2) }}
                </pre>
            </div>
        </main>

    </div>

    <script>
        const rawSpectraData = JSON.parse('{{ spectra_data | tojson | safe }}');
        const zScoreData = JSON.parse('{{ z_score_norm_data | tojson | safe }}');
        const normSpectraData = JSON.parse('{{ min_max_norm_data | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphSwitch.js') }}"></script>

</body>

</html>