<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Porovnávanie spektier </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="app-container">

        {% include 'partials/_sidebar.html' %}

        <main class="content">
            {% block content %}
            {% endblock %}
        </main>

    </div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/checkboxSetter.js') }}"></script>
    {% endblock %}

</body>

</html>